.weekday-box {
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
  width: 100vw;
}

.day-week-box {

}

.single-weekday-box {
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
  background-color: rgb(26, 150, 234);
  width: 10vw;
  border-radius: 20px;
  padding: 10px 20px 10px 20px;
}